<div class="dashboard-header">
  <h5>Good Afternoon, <%= @user.first_name %></h4>
  <p><strong>Be proud of what you've done today!</strong></p>
</div>
<div class="container dashboard-main-container">
  <div class="dashboard-orbits">
    <%= cl_image_tag @user.photo.key %>
    <div id="circle-orbit-container">

      <!-- Circles closest to the central point -->
      <div id="inner-orbit">
        <div class="inner-orbit-cirlces"></div>
      </div>

      <!-- Circles second closest to the central point -->
      <div id="middle-orbit">
        <div class="middle-orbit-cirlces"></div>
      </div>

      <!-- Circles furthest away to the central point -->
      <div id="outer-orbit">
        <div class="outer-orbit-cirlces"></div>
      </div>

    </div>
  </div>
  <div class="dashboard-side-cotainer">
    <div class="dashboard-splitty">
      <h2>Splitty</h2>
    </div>
    <div class="dashboard-next-event">
      <h3>Next Event:</h3>
      <%= @events[0].title %>
    </div>
    <div class="dashboard-achivements">
      <h3>Achivements:</h3>
    </div>

  </div>


</div>