// Specific CSS for your home-page
body {
  background-color: #090020;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.main-container {
  width: 95vw;
  height: 100vh;
  border: solid 2px white;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.side-container {
  display: flex;
  width: 15%;
  // border: solid 2px green;
  flex-direction: column;
  justify-content: space-around;
}

.logo-container {
  // border: solid 2px blue;
  width: 100%;
  display: flex;
  justify-content: center;
}

.orbit-container {
  // border: solid 2px yellow;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.circles-container {
  // border: solid 2px pink;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-block: 2px;
}

.feed-container {
  display: flex;
  // border: solid 2px red;
  width: 90%;
  display: flex;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.circle-grid {
  // border: solid 2px orangered;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.white-color {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg)
    brightness(102%) contrast(105%);
}
