<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-logo">
    <%= image_tag "Logo/Circles_Logo.svg", width: "190", class:"white-color" %>
    <p>all rights reserved <i class="fa-regular fa-copyright"></i> 2022</p>
  </div>
</div>
