<div class="cards-event">
  <% @events.each do |event| %>
    <% if event.photo.key? %>
  <div class="image-icon-container" style="background-image: url(<%=cl_image_path event.photo.key %>)">
     <div class="icons">
          <i class="fa-solid fa-user-group"></i>
          <% if event.private  %>
            <i class="fa-solid fa-circle"> </i>
          <% else %>
            <i class="fa-regular fa-circle"></i>
          <% end %>
          <p><%= event.start_date.strftime("%m/%d") %></p>
          </div>
          </div>
      <% else %>
      <div class="image-icon-container" style="background-image: url(<%=cl_image_path "hk6soz418q50zk89hkppwut8mp97" %>)">
        <div class="icons">
            <i class="fa-solid fa-user-group"></i>
          <% if event.private  %>
            <i class="fa-solid fa-circle"> </i>
          <% else %>
            <i class="fa-regular fa-circle"></i>
          <% end %>
         <p><%= event.start_date.strftime("%m/%d") %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
