<div class="main-container">
  <div class="side-container">
    <div class="logo-container">
      <%= image_tag "Logo/Circles_Logo.svg", width:150, class:"white-color" %>
    </div>
    <div class="orbit-container">
      <p>The user avatar will go here</p>
    </div>
    <div class="circles-container">
      <p>All the circles will go here</p>
      <% @circles.each do |circle|%>
  <%= cl_image_tag circle.photo.key, class: "circle-avatar", alt: "circle-avatar" %>
<% end %>
    </div>
  </div>
  <div class="feed-container">
  </div>
</div>
