<div class="main-container">
  <div class="side-container">
    <div class="logo-container">
      <%= image_tag "Logo/Circles_Logo.svg", width:150, class:"white-color" %>
    </div>
    <div class="orbit-container">
    </div>
    <div class="circles-container">
    </div>
  </div>
  <div class="feed-container">
  </div>
</div>
