.chatroom {
  background: white;
  height: 50vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;

  h1 {
    color: black;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    color: black;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    color: black;
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      color: black;
      margin-bottom: 0;
    }
  }
}
