.chatroom {
  background: #202124;
  width: 90%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  border-top: 1px solid white;
  h4 {
    margin-top: -8%;
    display: flex;
    justify-content: center;
  }
}

.chatroom-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new_event_message {
  height: 5vh;
}

.messages {
  color: white;
  height: 100%;
  overflow: scroll;
}

.messages::-webkit-scrollbar {
  display: none;
}

#new_message {
  color: black;
  border-top: 1px solid $gray-200;
  padding: 1rem;
  border-radius: 20px;
  position: sticky;
  top: 20%;

  .form-group {
    color: black;
    margin-bottom: 0;
  }
}

.sender-style {
  background-color: #323338;
}

textarea.form-control {
  height: 20px;
}

.event-left-side-chatroom {
  .chatroom {
    // margin-left: 41%;
    width: 45vw;
    .messages {
      height: 90%;
    }
    #new_event_message {
      margin-top: 0;
      position: relative;
      top: 25px;
      height: 38px;
    }
  }
}

.circle-show-chatoom-container {
  .chatroom {
    // margin-left: 41%;
    height: 100%;
    width: 100%;
    // .messages {
    //   // height: 19%;

    // }
    #new_event_message {
      margin-top: 0;
      position: relative;
      top: 25px;
      height: 38px;
    }
  }
  .sender-style {
    color: white;
  }
  // .message-row {
  //   height: 100%;
  // }
}
