.chatroom {
  margin-top: 160px;
  margin-left: 90px;
  background: #14213d;
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;


  h1 {
    color: white;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    color: white;
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    color: black;
    border-top: 1px solid $gray-200;
    padding: 1rem;
    position: fixed;
    border-radius: 20px;

    .form-group {
      color: black;
      margin-bottom: 0;
    }
  }
}

.sender-style {
  background-color: rgb(59, 55, 136);
}

textarea.form-control {
  height: 20px;
}
