.circle-show-banner {
  width: 100%;
  height: 48vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// shadow gradient on banner image
.circle-show-banner::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgb(0, 0, 0) 100%
  );
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.circle-show-title {
  // border: 1px solid rgb(137, 174, 141);
  position: absolute;
  top: 35vh;
  left: 10vw;
  display: flex;
  h2 {
    margin-bottom: 5px;
  }
}

.circle-show-details {
  padding-left: 20px;
  p {
    margin-top: 0px;
    margin-bottom: 1px;
  }
}

.circle-show-details-private {
  display: flex;
  margin-bottom: 15px;

  p {
    padding-right: 30px;
  }

  i {
    padding-right: 5px;
  }
}

.circle-avatar-circle {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  border: #ff9d00 3px solid;
  margin-left: 10px;
  padding: 4px;
  object-fit: cover;
}

.circle-show-main-container {
  // border: solid 1px yellow;
  padding-top: 120px;
  padding-bottom: 10%;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.circle-show-main-left {
  // border: solid 1px green;
  width: 70%;
}

.circle-show-main-right {
  // border: solid 1px rgb(111, 182, 204);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 2%;
}

.circle-show-main-top {
  // border: solid 1px rgb(255, 63, 191);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.circle-show-main-bottom {
  // border: solid 1px rgb(0, 255, 229);
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5%;
}

.circle-show-members-container {
  // border: 1px solid orangered;
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  border-radius: 5px;
  padding-top: 10px;

  h4 {
    // padding-bottom: 10px;
    text-align: begin;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      text-decoration: none;
      margin-top: 15px;
      margin-bottom: 15px;
      img {
        margin-right: 2px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}

.circle-show-members-header {
  width: 90%;
  margin-top: 5px;
}

.circle-show-members-info {
  max-height: 325px;
  width: 90%;
  overflow: scroll;
  border-top: 1px solid white;
}

.circle-show-members-info::-webkit-scrollbar {
  display: none;
}

.fa-arrow-left {
  position: absolute;
  left: 60px;
  top: 65px;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;

  a {
    text-decoration: none;
    color: white;
  }

  .fa-arrow-left:hover {
    color: grey;
  }
}

.circle-show-upcoming-events-container {
  // border: 1px blueviolet solid;
  width: 71%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle-show-upcoming-events-header {
  margin-top: 5px;
  width: 95%;
}

.circle-show-upcoming-events-cards {
  width: 95%;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-top: 1px solid white;
  padding-top: 15px;
  max-height: 320px;
}

.circle-show-upcoming-events-cards::-webkit-scrollbar {
  display: none;
}

.circle-show-event-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 210px;
  p {
    margin-bottom: 5px;
    font-size: 10pt;
  }
}

.circle-show-chatoom-container {
  background-color: #202124;
  border-radius: 5px;
  width: 90%;
  height: 800px;
}

.circle-show-memories-container {
  // border: 1px solid rgb(69, 255, 239);
  width: 55%;
  background-color: #202124;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.circle-show-memories-header {
  width: 95%;
  margin-top: 5px;
}

.circle-show-memories-slider-container {
  border-top: 1px solid white;
  width: 95%;
  max-height: 350px;
}

.splide__list {
  li {
    width: 300px;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.modal-content-circle-show {
  height: 60vh;
  width: 25vw;
  background-color: #14213d;

  h1 {
    margin-top: 7px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
  }

  .fa-address-book {
    font-size: 25px;
  }
}

.circle-show-spotify-playlists {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  background-color: #202124;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.spotify-playlists-header {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;

  h4 {
    margin: 0;
  }
}

.playlists-grid {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  max-height: 330px;
  overflow-y: scroll;
  width: 90%;
  align-items: flex-start;

  iframe {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.playlists-grid::-webkit-scrollbar {
  display: none;
}

.circle-add-friend {
  display: flex;
  margin-bottom: 25px;
  height: 30px;
}

.circle-img-add-friend {
  width: 28px;
  height: 28px;
  margin-right: 10px;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.circle-add-friend-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
