.circle-show-banner {
  width: 100%;
  height: 48vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// shadow gradient on banner image
.circle-show-banner::after {
  display: block;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgb(0, 0, 0) 100%
  );
  margin-top: -150px;
  height: 150px;
  width: 100%;
  content: '';
}

.circle-show-title {
  position: absolute;
  top: 35vh;
  left: 10vw;
  display: flex;
  h2 {
    margin-bottom: 5px;
  }
}

.circle-show-details {
  padding-left: 20px;
  p {
    margin-top: 0px;
    margin-bottom: 1px;
  }
}

.circle-show-details-private {
  display: flex;
  margin-bottom: 15px;

  p {
    padding-right: 30px;
  }

  i {
    padding-right: 5px;
  }
}

.circle-avatar-circle {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  border: #ff9d00 3px solid;
  margin-left: 10px;
  padding: 4px;
  object-fit: cover;
}

.circle-show-main-container {
  border: solid 1px yellow;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.circle-show-main-top {
  border: solid 1px rgb(255, 63, 191);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.circle-show-main-bottom {
  border: solid 1px rgb(0, 255, 229);
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.circle-show-members {
  border: 1px solid orangered;

  h4 {
    padding-bottom: 20px;
    text-align: begin;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      text-decoration: none;
      img {
        margin-right: 2px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.circle-show-members::-webkit-scrollbar {
  display: none;
}

.fa-arrow-left {
  position: absolute;
  left: 60px;
  top: 65px;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;

  a {
    text-decoration: none;
    color: white;
  }

  .fa-arrow-left:hover {
    color: grey;
  }
}

.circle-show-upcoming-events {
  border: 1px blueviolet solid;
  width: 46vw;
  overflow-x: scroll;

  ul {
    margin-top: 30px;
  }
}

.circle-show-upcoming-events::-webkit-scrollbar {
  display: none;
}

.circle-show-event-card {
  position: relative;
  display: grid;
  width: 200px;
  height: 300px;

  p {
    position: absolute;
    top: 35px;
    left: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }

  img {
    width: 200px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.circle-show-upcoming-events-cards {
  display: grid;
  gap: 20px 40px;
  grid-template-columns: 1fr 1fr 1fr;

  ul {
    margin: 0px;
    padding-top: 25px;
  }
}

.memories {
  border: 1px solid rgb(69, 255, 239)
}

.splide__list {
  li {
    width: 300px;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.circle-show-members-info {
  height: 40vh;
  overflow: scroll;
}

.circle-show-members-info::-webkit-scrollbar {
  display: none;
}

.modal-content-circle-show {
  height: 60vh;
  width: 25vw;
  background-color: #14213d;

  h1 {
    margin-top: 7px;
    margin-left: 10px;
    text-align: center;
    align-items: center;
  }

  .fa-address-book {
    font-size: 25px;
  }
}

.circle-show-spotify-playlists {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  text-align: center;
}

.playlists-grid {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.playlists-grid::-webkit-scrollbar {
  display: none;
}

.circle-add-friend {
  display: flex;
  margin-bottom: 25px;
  height: 30px;
}

.circle-img-add-friend {
  width: 28px;
  height: 28px;
  margin-right: 10px;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.circle-add-friend-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
