.event-show-banner {
  background-color: #14213d;
  height: 250px;
  width: 100%;

  .event-show-banner-info {
    position: absolute;
    top: 80px;
    left: 200px;
  }

  h1 {
    margin-top: 25px;
  }
}

h4 {
   margin-top: 30px;
}

.circles_event_page {
  margin-top: 10px;
}

.event-show-top {
  display: flex;
  margin-left: 200px;
  margin-top: 40px;
}

.event-show-picture {
margin-bottom: 20px;
}

.event-show-details {
  margin-right: 320px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: #14213d;
  padding: 30px;

  .event-show-details-info {
    margin-top: 40px;
  }
}

.event-show-picture {
  width: 600px;
  height: 330px;
  position: absolute;
  top: 180px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: -65px;
  }
}

.event-show-details-info-location {
  width: 250px;
  height: 150px;

  .event-show-details-info-location-map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.title {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.circles {
  border: solid 2px orangered;
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
}
