.event-header {
  display: flex;
  position: fixed;
  background-color: #202124;
  padding: 25px;
  right: 0px;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.event-header-middle-info {
  padding-left: 15px;
  border-left: 2px solid white;

  .fa-lock,
  .fa-unlock {
    margin-left: 15px;
  }
}
.event-header-middle {
  align-items: center;
  margin: 0px;
  padding: 0px;
  display: flex;

  p {
    margin: 0px;
    padding: 2px;
    font-size: 16px;
  }

  h2 {
    margin: 0px;
    padding-top: 7px;
    font-size: 50px;
    margin-right: 15px;
  }
}

.event-header-left {
  .fa-arrow-left {
    position: static;
    margin-left: 25px;
  }
}

.event-footer-right {
  display: flex;
}

.event-footer-left {
  h2 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }
}

.event-main-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 24vh;
  gap: 25px;
  margin-bottom: 150px;
}

.event-left-side-banner {
  width: 65vw;
  height: 60vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-item {
  width: 65vw;
  height: 60vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.event-left-side-bottom {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  min-height: 400px;
  margin-top: 25px;
  background-color: #202124;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;

  .event-left-side-playlist {
    height: 100%;
    width: 26vw;
  }

  .chatroom {
    height: 100%;
    width: 34vw;
  }
}

.event-right-side-host {
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  width: 24vw;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
}

.event-right-side-host-card {
  display: flex;
  border-top: solid;
  border-color: #ced4da;
  padding: 5px;
}

.event-right-side-host-info {
  h2 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }
}

.event-right-side-host-body {
  display: flex;
  margin-top: 10px;
}

.event-right-side-invite {
  margin-top: 25px;
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  height: 33vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.event-right-side-invite-body {
  padding-top: 10px;
  border-top: 1px solid white;
}

.event-right-side-details {
  margin-top: 25px;
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  height: 28vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.event-right-side-details-body {
  border-top: solid;
  border-color: #ced4da;
  padding: 5px;

  i {
    margin-right: 25px;
  }
}

.event-right-side-details-date {
  margin-top: 10px;
}

.event-right-side-location {
  margin-top: 25px;
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  height: 55vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.event-right-side-location-body {
  border-top: solid;
  border-color: #ced4da;
  padding: 5px;
}

.event-right-side-location-body-address {
  margin-top: 10px;
  i {
    margin-right: 25px;
  }
}

.event-show-details-info-location {
  width: 100%;
  height: 43vh;

  .event-show-details-info-location-map {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
}

.event-right-side-images {
  padding: 15px;
  border-radius: 5px;
  height: 100%;
  width: auto;
}

.event-right-side-images-info {
  display: flex;
  align-items: center;
  border-top: solid;
  border-color: #ced4da;
  padding: 5px;
}

.event-left-side-anker {
  display: flex;
  margin-top: 28px;
  height: 50vh;
}

.anker-member {
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  width: 20vw;
  height: 100%;
}

.anker-splitty {
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  margin-left: 25px;
  width: 100%;
  height: 100%;
}

.anker-member-info {
  border-top: 1px solid white;
  margin-bottom: 10px;
  overflow: scroll;
  height: 300px;
}

.event-right-side-music {
  background-color: #202124;
  padding: 15px;
  border-radius: 5px;
  margin-top: 28px;
  width: 100%;
  height: 50vh;
}

.event-right-side-music-info {
  border-top: 1px solid white;
}

.new_circle_event > input {
  padding: 5px;
  font-size: 16px;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent;
  border: 2px solid #ff9d00;
  color: white;
  transition: 0.3s ease;

  &:hover {
    background-color: #ff9d00;
  }
}

.anker-member-info {
  ul {
    padding: 0px;
    text-decoration: none;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      p {
        margin-top: 20px;
      }
    }
  }

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.splitty-people {
  overflow: scroll;
  height: 300px;
}

.splitty-body {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 10px;
}
