.cards-event {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 40px;
  width: 100%;
}

.event-card {
  height: 300px;
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 5px;
    font-size: 10pt;
  }
}

.attending {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
  gap: 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: white;
  align-items: baseline;
}

.image-icon-container{
  position: relative;
  padding: 5%;
  padding-top: 3%;
  border-radius: 5px;
  height: 100%;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 40px;
  // box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;
  img{
    width: 100%;
  }
}

a:hover {
  color:white;
  text-decoration:none;
  cursor:pointer;
}
